<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to My Website</h1>

    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>


    <h1>Welcome to my programming works</h1>
    <p>Instruction: create a route and a page for the link that are not working</p>

    <ul>
        <li><a href="/touppercase">toUpperCase</a></li>
        <li><a href="/areaOfcirle">Area of a Circle</a></li>
        <li><a href="/areaOfTriangle">Area of a Triangle</a></li>
    </ul>
</body>
</html>