<!DOCTYPE html>
<html>
<head>
    <title>Profile Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to My Profile Page</h1>

    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <p>This is a simple profile page rendered using Flask's templating.</p>
    <p>Create your profile here with Name, section , course, subject and display your favorite sayings or motto! using html tags </p>
    <p>Name: Allen Jay Ansing</p>
    <p>Course and Section: BSCPE 2-2</p>
    <p>Subject: Data Structure and Algorithms</p>
    <p>Favorite sayings/motto: We are what we repeatedly do. Excellence, then, is not an act, but a habit</p>
</body>
</html>