<!DOCTYPE html>
<html>
<head>
    <title>Convert Infix to Postfix</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Convert Infix to Postfix</h1>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <form action="/stackPostFix" method="post">
        <label for="inputString">Input an infix expression</label>
        <input type="text" id="inputString" name="inputString">
        <input type="submit" value="Convert to Postfix">
    </form>

    {% if result %}
    <p>Converted to Postfix: {{ result }}</p>
    {% endif %}
</body>
</html>