h1{text-align: left;
}

nav ul {
    list-style-type: none;   /* Remove bullets */
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;   /* Places items next to each other */
    margin-right: 20px;      /* Spacing between items */
}